.git
__pycache__
*.pyc
*.pyo
*.pyd
*.so
.pytest_cache
.mypy_cache
.venv
env/
venv/
logs/
pipeline_storage/
pipeline_storage_v2/
datasets/
llama_index/
build/
dist/
*.egg-info/
node_modules/
tmp/
*.log
